* {
  box-sizing: border-box;
}

.player-content {
  padding: 15px;
}

.cover-content {
  background-image: url('./assets/images/bg.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-container ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
}

.menu-container li {
  float: left;
}

.menu-container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.top-player-content {
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.content-sec {
  width: 100%;
}

.login_container {
  display: flex;
  justify-content: center;
}

.login_container form {
  width: 25%;
}

.input_field {
  margin-bottom: 15px;
}

#text
{
	color:green;
}